body{
    margin: 0;
    padding: 0;
}

div{
    border: 1px solid red;
}
.header{
    background-color: black;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 20px;
    
}
.nav1{
    display: flex;
    
}
.logo{
    width: 150px;
    height: 75px;
    margin-right: 100px;
}
ul{
    padding: 10px;
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 100px ;
}
.li1{
    margin-top: 10px;
}

.btn1{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
}

.btn2{
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
}