body{
    margin: 0px;
    padding: 0px;

}
.navbar{
    background-color: black;
    /* border-style: solid; */
    /* border-color: red; */
    /* border-width: 1px; */
    text-align: center;
    height: 90px;
    
}
.logo{
    width: 165px;
    align-items: center;
    height: auto;
    position: absolute;
}
.nav{
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;
}
ul{

    list-style: none;
    display: inline-block;
    margin-left: 250px;
    margin-right: 60px;
}
li{
    color: white;
    margin-left: 30px;
    display: inline-block;
}
.btn1, .btn2{
    border-radius: 25px;
    border-color: white;
    border-width: 1px;
    width: 150px;
    height: 50px;
    border-color: white;
    /* background-color: transparent; */
    color: rgb(255, 255, 255);
    /* padding: 12px 16.5px 12px 16.5px; */
    font-size: 14px;
    font-weight: 400;
}
.btn1{
    margin-right: 30px;
    background-color: transparent;
}
.btn2{
    background-color: red;
 text-align: left;
 padding-left: 20px;
 /* margin-right: 10px;    */
}

.right-arrow{
    width: 30px;
    background-color: transparent;
    position: absolute;
margin-left: 110px;
margin-top: 24px;

}

.section1{
    text-align: center;
    
 /* display: inline; */
    border-width: 1px ;
    border-color: red ;
    border-style: solid ;
    background-color: black;
    /* position: absolute; */
    width:auto;
    
}
cover{
/* display: inline; */
/* width: 100%; */
/* height: auto; */
/* margin: auto; */
position: relative;

    /* height: 100px; */
    /* width: 150px; */
}

.brand{
    border-width: 1px ;
    border-color: red ;
    border-style: solid ;
    background-color: black;  
    color: white;
}
.box1, .box2, .box3{
    text-align: center;
    display: inline-block;
   background-color: white;
    border: solid;
    border-color: white;
    width: 450px;
    height: 200px;
    /* position: absolute; */
    position: relative;
    top: 0;
    
    margin: 20px;
}
.brand2{
    width: 450px;
    height: 200px;
    position: relative;
    /* top: 20%; */
}
.brand{
    text-align: center;
}

.main_custom_heading-second{
    font-weight: 400 !important;
        font-size: 24px !important;
        line-height: 29px !important;
}
span.logo-text-hold {
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}