<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="" alt="img">
        <ol>
            <li>Home</li>
            <li>About Us</li>
            <li>Publications</li>
            <li>Feedback</li>
        </ol>
        <button><a href="#">Get a Franchise</a></button>
        <button><a href="#">Order Online</a></button>
    </nav>
</body>
</html>